<div class="user_data flex-row">
  <div class="img_content">
    <img class = "user_img" src=<%= get_photo(user) %> alt="User photo" >
  </div>
  <div class="user_info flex-grow">
    <div class="">
      <h2 id="username"><%= user.name %></h2>
    </div>
    <div class="">
      Number of posts: <%= user.posts_counter%>
    </div>
  </div>
</div>
