  <% if user_signed_in? %>
  <section class="container">
    <% @users.each do |user| %>
      <div class="user-box">
        <img class="image-user" src=<%= user.photo %> alt="user">
        <div class="user-info">
          <p class="user-name"><%= link_to user.name, user %></p>
          <p class="user-post">Number of posts: <%= user.posts_counter%></p>
        </div>
      </div>
    <% end %>
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav-link bg-transparent border-0" %>
  </section>
<% else %>
  <h2>Already signed out</h2>
<% end %>
